{% extends 'base.html.twig' %}

{% block title %}Pola - Restaurant{% endblock %}

{% block body %}
<div class="titrePage"><h1>Pola</h1></div>
<div class="section1"><span>Pola</span> </div>

<div class="position">
</div> 

{% endblock %}
