{% extends 'base.html.twig' %}

{% block title %}Pola - Restaurant
{% endblock %}

{% block body %}
<section> 
<div class="space"></div>
	<div class="titrePage">
		<h1>P o l a</h1>
	</div>
	<div class="section1">
	<div class="text">
		<h2><span class="capital">N</span>otre cuisine</h2>
		<div class="space20"></div>
		<div class="space20"></div>
<p>À Pola, l’heure du repas rime avec plaisir et gourmandise. </p>
<div class="space20"></div>
<p>Les chefs revisitent les grands classiques de la gastronomie française avec fraîcheur et modernité.</p>
<div class="space20"></div>
<p>Délicieusement ancré dans son terroir, le restaurant met à l'honneur aux produits de saison, frais et locaux, entre viandes de la région, poissons respectueux des quotas de pêches et fruits et légumes des environs. </p>
<div class="space20"></div>
<p>Ici, rien n’est laissé au hasard. Les cuissons sont faites minute, et tout ou presque est fait maison, des sauces amoureusement mitonnées aux incomparables crèmes glacées.</p><div class="space20"></div>
<p>Dans l’assiette, une cuisine authentique, fraîche et savoureuse qui réserve aux gourmands de délicieuses surprises. </p>
</div>

	</div>

	{# <div class="position">
		<div class="blocColor"></div>
            <img src="../../public/pictures/logo/Polalogo.png" alt="restaurant">
	</div> #}

	<div class="section2">

	<div class="">
</div>
	</div>
</section>

{% endblock %}
