{% extends 'base.html.twig' %}

{% block title %}Entrées
{% endblock %}

{% block body %}
<div class="space"></div>
	<h1>Entrées</h1>
	<div class="parent">
		{% for article in articles %}


			<div class="card">
				<h3 class="titreColor">{{article.title}}</h3>
				
				<div class="visual">
					<img class="picture" src="{{ asset('pictures/articles/' ~ article.picture)}}" alt="{{ article.picture }}">
				</div>
                <p contenteditable>{{article.description}}</p>
			</div>

		{% endfor %}
	</div>

{% endblock %} 
