{% extends 'base.html.twig' %}

{% block title %} La Carte{% endblock %}

{% block body %}





{% for article in articles %}

<p>{{article.title}}</p>
<p>{{article.description}}</p>
 <img src="{{ asset('pictures/articles/' ~ article.picture)}}" alt="{{ article.picture }}">

{% endfor %}

{% endblock %}
