{% extends 'base.html.twig' %}

{% block title %}Avis/ Suggestion{% endblock %}

{% block body %}

{% for avis in aviss %}
<h2>{{ avis.author }}</h2>
                        <p>{{ avis.object }}</p>
                        <p>{{ avis.content }}</p>
                        <p>{{ avis.createdAt|date('Y-m-d H:i:s')}}</p>
                        

{% endfor %}
{% endblock %}
