{% extends 'base.html.twig' %}

{% block title %}Avis/ Suggestion{% endblock %}

{% block body %}

<h1>Avis/Suggestions</h1>

{% for avis in suggestions %}
<h2>{{ avis.author }}</h2>
                        <p>{{ avis.object }}</p>
                        <p>{{ avis.content }}</p>
                        <p>{{ avis.createdAt|date('Y-m-d H:i:s')}}</p>
                        

{% endfor %}

       
{% endblock %}
