{% extends 'base.html.twig' %}

{% block title %}Horaires d'ouverture
{% endblock %}

{% block body %}
	<div class="container">

		<div contenteditable class="box">
			<h1>Horaires d'ouverture</h1>


			<table>
				<tr>
					<td width="20%">Lundi</td>
					<td>Fermé</td>
				</tr>
				<tr>
					<td>Mardi</td>
					<td width="20%">12h - 14h</td>
                     <td width="1%">|</td>
                    <td width="35%">19h - 22h</td>
				</tr>
				<tr>
					<td>Mercredi</td>
					<td>12h - 14h</td>
                     <td>|</td>
                    <td>19h - 22h</td>
				</tr>
				<tr>
					<td>Jeudi</td>
					<td>12h - 14h</td>
                     <td>|</td>
                    <td>19h - 22h</td>
				</tr>
				<tr>
					<td>Vendredi</td>
					<td>12h - 14h</td>
                     <td>|</td>
                    <td>19h - 22h</td>
				</tr>
				<tr>
					<td>Samedi</td>
					<td>12h - 14h</td>
                     <td>|</td>
                    <td>19h - 22h</td>
				</tr>
				<tr>
					<td>Dimanche</td>
					<td>Fermé</td>
				</tr>
			</table>

		</div>
	</div>

{% endblock %}
