//*******************Reset********************************

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	// font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
//**********************************************************

body {
    .space{
        width: 100%;
        height:80px;
    }

    .space20{
        width: 100%;
        height:20px;
    }

    .titrePage{

        width: 100%;
        height: 100px;
        display:flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        color:$jaune;
        
    }
    background-color: $marron;
     background:linear-gradient(to right, $marron , $vert), no-repeat center center fixed;
                   
    background-position: center;
    background-attachment: scroll;


     h2, table{
        font-family: $libreFranklin;
        font-weight: normal;
    }

    h3, li, h4{
        font-family: $trirong;
        font-weight: normal;
    }

    h1, p{
        font-family: $anticSlab;
        font-weight: normal;
    }
    margin:0;
    
 }

// ********************************Accueil********************************
.section1{

   
    width: 100%;
    height:600px;
    background-image: url("../../public/pictures/logo/resto1.jpg");
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
  
    justify-content: center;
    align-items: center;
    .text{
        width: 60%;
        height:100%;
        background-color: $blanc;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
      
        
    }
}

.position{
    height: 800px;
    width: auto;

    .blocColor{
        display: flex;
        position: absolute;
        width:600px;
        height: 500px;
        background-color : $blanc;
        z-index: -999999;
        img{
            
            width: 400px;
            height:auto;
            position:fixed;

        }
    }
}








// ********************************Menu********************************


nav {
	width: 100%;
    height: auto;
    display: grid;
    
    padding: 20px;
 
	margin: 0 0;
    box-shadow: 0 5px 5px $vert;
   
	background-color: white;
	position: fixed;

    #burger{
        display:none;

    }


	ul {
		list-style-type: none;
		display: flex;
       
		li {
			flex: 1 1 auto;
			text-align: center;
			position: relative;
            
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: black;
		border-bottom: 2px solid transparent;
		padding: 10px 0px;
		&:hover {
			color: $jaune;
	
		}
	}
	>ul {
		li {
			&:hover {
				.secondary {
					display: flex;
					flex-flow: column wrap;
				}
			}
		}
	}
}
.secondary {
	display: none;
	box-shadow: 0px 1px 2px #CCC;
	background-color: white;
	position: absolute;
	width: 100%;
	z-index: 1000;
	li {
		flex: 1 1 auto;
		text-align: center;
	}
	a {
		padding: 10px;
		border-bottom: none;
		&:hover {
			border-bottom: none;
			background-color: RGBa(200,200,200,0.1);
		}
	}
}

.logo{

    width:113px;
    height:100%;
    background-image: url("../../public/pictures/logo/banniere.png");
    background-repeat: no-repeat;
}



// ********************************Formulaire********************************


.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 300px;
    grid-template-areas:
      ". a ."
      ". a .";

    .box{

        background-color: $marron;
        grid-area: a;
        align-self: center;
        justify-self: center;
        border: 10px solid $blanc;
        padding:10px;
    }

}





// ********************************Carte********************************


.parent {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    color: $marron;
   
    

    .card {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        border: 2px dashed $jaune;
        background-color: $blanc;
        border-radius: 5px;
        box-sizing: border-box;
        line-height:2;
        
        align-content: space-around;
     
        

        .titreColor{
            background-color:$marron;
            color:$blanc;
            padding: 5px;
        }

        
        .visual {
            height: 300px;
            width: auto;
            line-height:2;
            display: flex;
            align-items: center;
            align-content: center;
            flex-direction: column;
            justify-content: center;
            font-weight: normal;
            // border: 10px solid $turquoise;
            // border-radius: 5px;

            .pColor{
                color:$vert;
            }
            
                .picture{
                    height:150px;
                    width: auto;
                }

                h3 {
                margin: 0
              }
          }

      }

  }

// ********************************Avis********************************
.sectionAvis{

    width: 100%;
    height:auto;
    background-image: url("../../public/pictures/design.jpg");
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
  
    justify-content: flex-start;
    align-items: center;
    h2{
        color:$blanc;
    }
    .post{
        width: 50%;
        height:100%;
        background-color: $blanc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:10px;

        .surlign{
            background-color: $turquoise;
        }
      
        .contenuAvis{

            background-color: $jaune;
            width:100%;
            height:auto;
            padding: 2px;
        }
    }
}






  // ********************************Footer********************************

  .footer{

    background-color: $vert;
    color: $blanc;
    width: 100%;
    height: 9vh;;
    font-size: 10px;
    table{
        display:flex;
        justify-content: flex-end;
    }

  }