$marron: #846767;
$turquoise: #14C1BD;
$jaune: #FFCF0E;
$blanc: #FFFFFF;
$vert: #3E5641;

@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Libre+Franklin&family=Trirong&display=swap');


$libreFranklin:'Libre Franklin', sans-serif;
$trirong:  'Trirong', serif;
$anticSlab: 'Antic Slab', serif;