{% extends 'base.html.twig' %}

{% block title %}Horaires d'ouverture
{% endblock %}

{% block body %}
<section>
<div class="space"></div>
<div class="titrePage">
		<h1>Où et quand nous trouver</h1></div>
		<div class="sectionHoraire">
	<div class="container">
		
		<div class="space20">
			</div>
		<div class="box">
			<h2>Horaires d'ouverture</h2>
			<div class="space20">
			</div>

			<table>
				
				<tr>
					<td>Mardi</td>
					<td>12h</td>
					<td>-</td>
					<td>14h</td>
                     <td>|</td>
                    <td>19h</td>
					<td>-</td>
					<td>22h</td>
				</tr>
				
				<tr>
					<td>Mercredi</td>
					<td>12h</td>
					<td>-</td>
					<td>14h</td>
                     <td>|</td>
                    <td>19h</td>
					<td>-</td>
					<td>22h</td>
				</tr>
				<tr>
					<td>Jeudi</td>
					<td>12h</td>
					<td>-</td>
					<td>14h</td>
                     <td>|</td>
                    <td>19h</td>
					<td>-</td>
					<td>22h</td>
				</tr>
				<tr>
					<td>Vendredi</td>
					<td>12h</td>
					<td>-</td>
					<td>14h</td>
                     <td>|</td>
                    <td>19h</td>
					<td>-</td>
					<td>22h</td>
				</tr>
				<tr>
					<td>Samedi</td>
					<td>12h</td>
					<td>-</td>
					<td>14h</td>
                     <td>|</td>
                    <td>19h</td>
					<td>-</td>
					<td>22h</td>
				</tr>
			
			</table>
			<div class="space20">
			</div>
		<p>Dimanche et Lundi, le restaurant est fermé</p>
		</div>
		</div>
	</div>
</section>
{% endblock %}
