{% extends 'base.html.twig' %}

{% block title %}Horaires d'ouverture
{% endblock %}

{% block body %}
<section>
	<div class="space"></div>
		<div class="titrePage">
		<h1>Où et quand nous trouver</h1></div>
		<div class="sectionHoraire">
					<div class="container">
				
					<div class="space20">
						</div>
					<div class="box">
						<h2>Horaires d'ouverture</h2>
						<div class="space20">
						</div>

						<table>
							
							<tr>
								<td>Mardi</td>
								<td>12h</td>
								<td>-</td>
								<td>14h</td>
								<td>|</td>
								<td>19h</td>
								<td>-</td>
								<td>22h</td>
							</tr>
							
							<tr>
								<td>Mercredi</td>
								<td>12h</td>
								<td>-</td>
								<td>14h</td>
								<td>|</td>
								<td>19h</td>
								<td>-</td>
								<td>22h</td>
							</tr>
							<tr>
								<td>Jeudi</td>
								<td>12h</td>
								<td>-</td>
								<td>14h</td>
								<td>|</td>
								<td>19h</td>
								<td>-</td>
								<td>22h</td>
							</tr>
							<tr>
								<td>Vendredi</td>
								<td>12h</td>
								<td>-</td>
								<td>14h</td>
								<td>|</td>
								<td>19h</td>
								<td>-</td>
								<td>22h</td>
							</tr>
							<tr>
								<td>Samedi</td>
								<td>12h</td>
								<td>-</td>
								<td>14h</td>
								<td>|</td>
								<td>19h</td>
								<td>-</td>
								<td>22h</td>
							</tr>
						
						</table>
					<div class="space20">
					</div>
					<p>Dimanche et Lundi, le restaurant est fermé</p>
				</div>
			</div>



		</div>
		<div class="space20">
					</div>
		<div class="sectionCoordonne">
		<div class="iframe">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2828.389440691365!2d-0.5570395849505055!3d44.85436608194825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd55289b4d37251f%3A0x34968ecd42ca2f52!2sFABRIQUE%20POLA!5e0!3m2!1sfr!2sfr!4v1627488875669!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


			</div>
		</div>
	</section>
{% endblock %}
