<footer>
	<div class="footer">


		<table>


			<tr>
				<td><a href="https://facebook.com"><i class="fab fa-facebook-square"></i></a></td>
				<td><a href="https://instagram.com"><i class="fab fa-instagram-square"></i></a></td>
				

			</tr>

			<tr>
				<td><a href="https://twitter.com"><i class="fab fa-twitter-square"></i></a></td>
				<td><a href="#0668882226"><i class="fas fa-phone-square-alt" alt="Réserver une table"></i></i></a></td>
				

			</tr>
		</table>	
				<div class="textFooter">
				<p>Developped By</p>
				<p>LAM Laura</p>
				<p>Toutes les images sont utilisées à un usage non commercial</p>
				<p>Elles proviennent de Google images et d'unsplash</p>
				</div>

		


	</div>


</footer
