<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../public/pictures/logo/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../public/pictures/logo/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../public/pictures/logo/favicon-16x16.png">
		<link rel="manifest" href="../public/pictures/logo/site.webmanifest">
		<title>
			{% block title %}Pola
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
		           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		{{ include('common/header.html.twig') }}
		{% block body %}{% endblock %}
		{{ include('common/footer.html.twig') }}
	</body>
</html>
